.header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
    text-align: center;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
}

.search-button img {
    width: 24px;
    height: 24px;
}
