html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden; /* 스크롤을 숨기기 위한 설정 */
}

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  width: 100%;
}

.App-header, .App-footer {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
  flex: 0 1 50px;
}

.App-map {
  flex: 1;
  position: relative;
  overflow: hidden; /* 자식 요소가 넘치지 않도록 설정 */
}

/* 반응형 디자인 설정 */
@media (max-width: 768px) {
  .App-header, .App-footer {
    padding: 10px;
    font-size: 14px;
  }
}
